<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./src/style.css" />
  </head>
  <body>
    <!-- <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/index.html">
            <img src="./assets/house-door.svg" alt="Home" class="nav-icon" />
          </a>
          <a class="navbar-brand" href="#">
            <img
              src="./assets/logo_antares.svg"
              alt="Company Logo"
              class="nav-logo"
            />
          </a>
        </div>
        <div class="navbar-header">
          <span class="navbar-title">Product Catalog Management</span>
        </div>

        <div class="navbar-right">
          <a class="navbar-brand" href="#">
            <img src="./assets/bell.svg" alt="Logo 1" class="nav-right-icon" />
          </a>
          <a class="navbar-brand" href="#">
            <img
              src="./assets/profile.svg"
              alt="Logo 2"
              class="nav-right-icon"
            />
          </a>
        </div>
      </div>
    </nav> -->
    <nav>
      <div class="navbar-left">
        <img
          src="./assets/house-door.svg"
          alt="Home"
          class="home-logo"
          onclick="window.location.href='/index.html'"
        />
        <img src="./assets/logo_antares.svg" alt="Company Logo" />
        <h1>Product Catalogue Management</h1>
      </div>

      <div class="navbar-right">
        <!-- Language Icon -->
        <img
          src="./assets/language.svg"
          alt="Language"
          class="language-icon"
          id="language-icon"
        />
        <div class="language-dropdown" id="language-dropdown">
          <ul class="language-options">
            <li onclick="changeLanguage('en')">English</li>
            <li onclick="changeLanguage('id')">Indonesia</li>
          </ul>
        </div>

        <!-- Notification Icon -->
        <img
          src="./assets/bell.svg"
          alt="Notifications"
          id="notification-icon"
        />
        <div class="notification" id="notification-dropdown">
          <ul class="notification-content">
            <li>No new notifications</li>
          </ul>
        </div>

        <!-- Profile Icon -->
        <img src="./assets/profile.svg" alt="Profile" id="profile-icon" />
        <div class="dropdown" id="profile-dropdown">
          <ul class="dropdown-content">
            <li>
              <img src="user-photo.jpg" alt="User Photo" />
              <span>Username</span>
            </li>
            <li onclick="signOut()">Sign Out</li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- main content-->
    <div class="container crud-table" ng-app="myApp" ng-controller="namesCtrl">
      <div class="mainContent">
        <div class="clearfix" id="firstLine">
          <div class="form-inline pull-left">
            <button class="btn btn-success" ng-click="addUser()">
              <span class="glyphicon glyphicon-plus"> </span>Add product
            </button>
            <button class="btn btn-info" id="downloadButton">
              <span class="glyphicon glyphicon-download"> </span> Export as PDF
            </button>
          </div>
        </div>

        <div class="clearfix">
          <div class="form-inline pull-left">
            <button
              class="btn btn-primary"
              ng-click="filterByCategory('all')"
              ng-class="{'active': currentFilter === 'all'}"
            >
              All
            </button>
            <div class="btn-group">
              <button
                class="btn btn-primary dropdown-toggle"
                ng-class="{'active': currentFilter !== 'all'}"
                data-toggle="dropdown"
              >
                Category <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a href="#" ng-click="filterByCategory('Farm')">Farm</a>
                </li>
                <li>
                  <a href="#" ng-click="filterByCategory('Fish')">Fish</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-inline pull-right">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                ng-model="searchName"
                placeholder="Type name to search"
              />
            </div>
          </div>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th ng-click="orderBy('name')">Name</th>
              <th ng-click="orderBy('country')">Category</th>
              <th ng-click="orderBy('salary')">Price</th>
              <th ng-click="orderBy('email')">Description</th>
              <th ng-click="orderBy('spesification')">Spesification</th>
              <th><img src="./assets/edit.svg" alt="edit" /></th>
              <th><img src="./assets/delete.svg" alt="delete" /></th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr
              ng-repeat="user in resultUser = (users | filter: filterUsers) | filter: {'name': searchName} | orderBy: order"
            >
              <td>{{ user.name }}</td>
              <td>{{ user.country }}</td>
              <td>{{ user.salary }}</td>

              <td><pre>{{ user.email.split('\n').join('\n') }}</pre></td>
              <td>
                <pre>{{ user.spesification.split('\n').join('\n') }}</pre>
              </td>
              <td>
                <button class="btn btn-primary" ng-click="editUser(user)">
                  Edit
                </button>
              </td>
              <td>
                <button class="btn btn-danger" ng-click="deleteUser(user)">
                  Delete
                </button>
              </td>
            </tr>
            <tr class="text-left">
              <td colspan="2"><b>Total</b></td>
              <td class="text-center">
                {{ resultUser | totalSalary: 'salary' }}
              </td>
              <td colspan="3"></td>
            </tr>
          </tbody>
        </table>
        <div class="crude-form__wrapper" ng-show="triggerForm">
          <h3 ng-show="editForm">Edit Product</h3>
          <h3 ng-show="addForm">Add Product</h3>

          <!-- form -->
          <form name="userForm" ng-model="userForm">
            <!-- profile product -->
            <div class="form-group">
              <label for="image">Profile Product</label>
              <input
                class="form-control"
                id="imageInput"
                type="file"
                accept="image/*"
                ng-model="crudFormImage"
                onchange="angular.element(this).scope().previewImage(event)"
              />
              <div class="image-preview" ng-show="imageSrc">
                <img
                  ng-src="{{ imageSrc }}"
                  alt="Image Preview"
                  style="max-width: 200px; max-height: 200px"
                />
              </div>
            </div>

            <!-- nama prd-->
            <div class="form-group">
              <label for="name">Name</label>
              <input
                class="form-control"
                id="editName"
                type="text"
                name="name"
                ng-model="crudFormName"
                placeholder="Edit name"
                required="required"
              />
              <div
                class="form-alert alert alert-danger"
                ng-show="userForm.name.$invalid &amp;&amp; userForm.name.$touched"
              >
                Please input name
              </div>
            </div>

            <!-- tag produk-->
            <div class="form-group">
              <label for="country">Category</label>
              <select
                class="form-control"
                id="editCountry"
                name="country"
                ng-model="crudFormCountry"
                required="required"
              >
                <option value="" disabled selected>Select Category</option>
                <option value="Farm">Farm</option>
                <option value="Fish">Fish</option>
              </select>
              <div
                class="form-alert alert alert-danger"
                ng-show="userForm.country.$invalid &amp;&amp; userForm.country.$touched"
              >
                Please select product
              </div>
            </div>

            <!-- harga product-->
            <div class="form-group">
              <label for="salary">Price</label>
              <input
                class="form-control"
                id="editSalary"
                type="number"
                name="salary"
                ng-model="crudFormSalary"
                placeholder="Edit Category "
                min="1"
                required="required"
              />
              <div
                class="form-alert alert alert-danger"
                ng-show="userForm.salary.$invalid &amp;&amp; userForm.salary.$touched"
              >
                <span ng-show="userForm.salary.$error.number"
                  >Please input valid number</span
                ><span ng-show="userForm.salary.$error.min"
                  >Please enter the price</span
                ><span ng-show="userForm.salary.$error.required"
                  >Please enter the price</span
                >
              </div>
            </div>

            <!-- deskripsi produk -->
            <div class="form-group">
              <label for="email" id="deskripsi">Description</label>
              <textarea
                class="form-control"
                id="editEmail"
                name="email"
                ng-model="crudFormEmail"
                ng-change="checkEmail(editUserId)"
                placeholder="Product Description"
                required="required"
                rows="3"
                style="
                  max-width: 60%;
                  width: 100%;
                  overflow-y: auto;
                  resize: none;
                "
              ></textarea>
            </div>

            <!-- spesification produk -->
            <div class="form-group">
              <label for="spesification" id="spesification"
                >Spesification</label
              >
              <textarea
                class="form-control"
                id="editSpesification"
                name="spesification"
                ng-model="crudFormSpesification"
                ng-change="checkSpesification(editUserId)"
                placeholder="Product Spesification"
                required="required"
                rows="3"
                style="
                  max-width: 60%;
                  width: 100%;
                  overflow-y: auto;
                  resize: none;
                "
              ></textarea>
            </div>
            <!-- -->
            <div
              class="form-alert alert alert-danger"
              ng-show="userForm.email.$invalid &amp;&amp; userForm.email.$touched"
            >
              <span ng-show="userForm.email.$error.email"
                >Please input description</span
              ><span ng-show="userForm.email.$error.required"
                >Please input description</span
              >
            </div>
            <div class="form-alert alert alert-danger" ng-show="emailExisted">
              This description has been registerd by other user
            </div>

            <button
              class="btn btn-primary"
              ng-click="saveEdit(editUserId)"
              ng-disabled="userForm.$invalid || emailExisted || spesificationExisted"
            >
              <i class="glyphicon glyphicon-pencil"> </i>Save change
            </button>

            <!-- -->
            <div
              class="form-alert alert alert-danger"
              ng-show="userForm.spesification.$invalid &amp;&amp; userForm.spesification.$touched"
            >
              <span ng-show="userForm.spesification.$error.spesification"
                >Please input spesification</span
              ><span ng-show="userForm.spesification.$error.required"
                >Please input spesification</span
              >
            </div>
            <div
              class="form-alert alert alert-danger"
              ng-show="spesificationExisted"
            >
              This spesification has been registerd by other user
            </div>

            <!-- -->
            <button class="btn btn-primary" ng-click="triggerForm = false">
              Cancel
            </button>
          </form>
        </div>
      </div>
    </div>
    <script>
      // Toggle Profile Dropdown
      document
        .getElementById("profile-icon")
        .addEventListener("click", function () {
          const profileDropdown = document.getElementById("profile-dropdown");
          profileDropdown.style.display =
            profileDropdown.style.display === "block" ? "none" : "block";
        });

      // Toggle Notification Dropdown
      document
        .getElementById("notification-icon")
        .addEventListener("click", function () {
          const notificationDropdown = document.getElementById(
            "notification-dropdown"
          );
          notificationDropdown.style.display =
            notificationDropdown.style.display === "block" ? "none" : "block";
        });

      // Toggle Language Dropdown
      document
        .getElementById("language-icon")
        .addEventListener("click", function () {
          const languageDropdown = document.getElementById("language-dropdown");
          languageDropdown.style.display =
            languageDropdown.style.display === "block" ? "none" : "block";
        });

      // Change Language Function
      function changeLanguage(lang) {
        if (lang === "en") {
          alert("Language changed to English");
          // Logic to change content language to English
        } else if (lang === "id") {
          alert("Language changed to Indonesian");
          // Logic to change content language to Indonesian
        }
        document.getElementById("language-dropdown").style.display = "none";
      }

      // Sign Out Function
      function signOut() {
        alert("Signing out...");
        // Logic to handle sign out
      }

      // Close dropdowns if clicked outside
      window.addEventListener("click", function (e) {
        if (!e.target.matches("#profile-icon")) {
          document.getElementById("profile-dropdown").style.display = "none";
        }
        if (!e.target.matches("#notification-icon")) {
          document.getElementById("notification-dropdown").style.display =
            "none";
        }
        if (!e.target.matches("#language-icon")) {
          document.getElementById("language-dropdown").style.display = "none";
        }
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./src/main.js"></script>
  </body>
</html>
